.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__mI4K {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
  background: url("https://res.cloudinary.com/dklongley/image/upload/v1554215305/AG2/portofino8.jpg")
    top 50% left 50% / cover repeat;
  margin-bottom: 5px;
  margin-top: calc(0px + 0px) !important;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 130px 32px 389px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mI4K {
    margin-top: calc(0px + 0px) !important;
  }
}
.columns__zVjzs {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1415px;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  margin-left: 186px;
  padding-left: 0px;
  align-self: flex-start;
  min-width: 0;
  min-height: 0;
}
.columns__zVjzs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__zVjzs > :global(.__wab_flex-container) > *,
.columns__zVjzs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zVjzs > :global(.__wab_flex-container) > picture > img,
.columns__zVjzs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__zVjzs {
  --plsmc-rc-col-gap: 0px;
}
.columns__zVjzs > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__zVjzs > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zVjzs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zVjzs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zVjzs > :global(.__wab_flex-container) > *,
  .columns__zVjzs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zVjzs > :global(.__wab_flex-container) > picture > img,
  .columns__zVjzs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zVjzs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__smfW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__smfW {
    width: 100%;
  }
}
.freeBox__cluoY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__cluoY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cluoY > :global(.__wab_flex-container) > *,
.freeBox__cluoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cluoY > :global(.__wab_flex-container) > picture > img,
.freeBox__cluoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__hcRfn {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-8v2PL-0oR313);
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___0Ivvj {
  font-size: 20px;
  color: var(--token-slB8D7VxQJJu);
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hPy21 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__x5UzI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xr2Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__h2UlI {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___1T0Oe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__whet2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__whet2 {
    width: 100%;
  }
}
.freeBox__vK9Nz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 0;
}
.section___3CueM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section___3CueM {
    padding: 35px 20px;
  }
}
.freeBox__mJDwK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-6gvRY8bqZCfX);
  min-width: 0;
  padding: var(--token-5imxU4b0cjty);
}
.freeBox___9Wix2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zkLu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__zkLu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__zkLu > :global(.__wab_flex-container) > *,
.freeBox__zkLu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zkLu > :global(.__wab_flex-container) > picture > img,
.freeBox__zkLu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.h2__oyZ7S {
  text-align: center;
  margin-top: calc(0px + 0px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__oyZ7S {
    margin-top: calc(0px + 0px) !important;
  }
}
.columns__qVmRi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 34px 0px 0px;
}
.columns__qVmRi > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__qVmRi > :global(.__wab_flex-container) > *,
.columns__qVmRi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qVmRi > :global(.__wab_flex-container) > picture > img,
.columns__qVmRi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
.columns__qVmRi {
  --plsmc-rc-col-gap: 0px;
}
.columns__qVmRi > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qVmRi > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qVmRi {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qVmRi > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qVmRi > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zLcwh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__nq2N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-slB8D7VxQJJu);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__nq2N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nq2N > :global(.__wab_flex-container) > *,
.freeBox__nq2N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nq2N > :global(.__wab_flex-container) > picture > img,
.freeBox__nq2N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__nmttq {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-fHJEDAlzOk9j);
  border-radius: 8px;
  padding: 8px;
}
.svg__qbMgL {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__tYzz5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tYzz5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tYzz5 > :global(.__wab_flex-container) > *,
.freeBox__tYzz5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tYzz5 > :global(.__wab_flex-container) > picture > img,
.freeBox__tYzz5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__aLDn {
  margin-top: calc(0px + 4px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__aLDn {
    margin-top: calc(0px + 4px) !important;
  }
}
.column__lKh5E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__sEkX {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-slB8D7VxQJJu);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__sEkX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sEkX > :global(.__wab_flex-container) > *,
.freeBox__sEkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sEkX > :global(.__wab_flex-container) > picture > img,
.freeBox__sEkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__ocYjV {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-fHJEDAlzOk9j);
  border-radius: 8px;
  padding: 8px;
}
.svg___8DMf8 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__vV15K {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vV15K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vV15K > :global(.__wab_flex-container) > *,
.freeBox__vV15K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vV15K > :global(.__wab_flex-container) > picture > img,
.freeBox__vV15K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__jQmEu {
  margin-top: calc(0px + 4px) !important;
}
.column__e0Tzt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__mWx8D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-slB8D7VxQJJu);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__mWx8D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mWx8D > :global(.__wab_flex-container) > *,
.freeBox__mWx8D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mWx8D > :global(.__wab_flex-container) > picture > img,
.freeBox__mWx8D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__cVjn3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-fHJEDAlzOk9j);
  border-radius: 8px;
  padding: 8px;
}
.svg__qy5FI {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__knBb8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__knBb8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__knBb8 > :global(.__wab_flex-container) > *,
.freeBox__knBb8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knBb8 > :global(.__wab_flex-container) > picture > img,
.freeBox__knBb8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__lnGf5 {
  margin-top: calc(0px + 4px) !important;
}
.column__hljwU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__us4T8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-slB8D7VxQJJu);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__us4T8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__us4T8 > :global(.__wab_flex-container) > *,
.freeBox__us4T8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__us4T8 > :global(.__wab_flex-container) > picture > img,
.freeBox__us4T8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__p3SN {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-fHJEDAlzOk9j);
  border-radius: 8px;
  padding: 8px;
}
.svg__x1A7I {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__wTzu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wTzu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wTzu > :global(.__wab_flex-container) > *,
.freeBox__wTzu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wTzu > :global(.__wab_flex-container) > picture > img,
.freeBox__wTzu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__e1VL6 {
  margin-top: calc(0px + 4px) !important;
}
.section__mPm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 0px;
}
.columns___4Rn1G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  max-width: var(--token-6gvRY8bqZCfX);
  min-width: 0;
  padding: 1px 0px 0px;
  margin: 0px;
}
.columns___4Rn1G > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns___4Rn1G > :global(.__wab_flex-container) > *,
.columns___4Rn1G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___4Rn1G > :global(.__wab_flex-container) > picture > img,
.columns___4Rn1G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 25px;
}
.columns___4Rn1G {
  --plsmc-rc-col-gap: 0px;
}
.columns___4Rn1G > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___4Rn1G > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___4Rn1G {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___4Rn1G > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___4Rn1G > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qIdrC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__egMxd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
.img__egMxd > picture > img {
  object-fit: cover;
}
.column__gEusi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nHz5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 644px;
  height: auto;
  max-width: 100%;
  padding: 64px 8px;
}
.freeBox__nHz5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nHz5 > :global(.__wab_flex-container) > *,
.freeBox__nHz5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nHz5 > :global(.__wab_flex-container) > picture > img,
.freeBox__nHz5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nHz5 {
    padding-bottom: 41px;
  }
}
.h2__jJkvl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-slB8D7VxQJJu);
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
}
.text__gp7UJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-slB8D7VxQJJu);
  min-width: 0;
}
.text__tIsBx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-slB8D7VxQJJu);
  align-self: center;
  min-width: 0;
}
.button__wZPid:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  flex-shrink: 0;
}
.svg___9Y5Uw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__o3OUa {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__cnsFo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dWpJv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-6gvRY8bqZCfX);
  background: #222222;
  min-width: 0;
  padding: var(--token-5imxU4b0cjty);
}
.freeBox__kCgkm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6Rfl6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___6Rfl6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___6Rfl6 > :global(.__wab_flex-container) > *,
.freeBox___6Rfl6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Rfl6 > :global(.__wab_flex-container) > picture > img,
.freeBox___6Rfl6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.section__yKJcL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #222222b8;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.columns__pzo4N {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  max-width: var(--token-6gvRY8bqZCfX);
  background: none;
  min-width: 0;
  padding: 1px 0px 0px;
  margin: 0px;
}
.columns__pzo4N > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__pzo4N > :global(.__wab_flex-container) > *,
.columns__pzo4N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pzo4N > :global(.__wab_flex-container) > picture > img,
.columns__pzo4N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 25px;
}
.columns__pzo4N {
  --plsmc-rc-col-gap: 0px;
}
.columns__pzo4N > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pzo4N > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pzo4N {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pzo4N > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pzo4N > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bTqBi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___6Kxj3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 644px;
  height: auto;
  max-width: 100%;
  padding: 64px 8px;
}
.freeBox___6Kxj3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___6Kxj3 > :global(.__wab_flex-container) > *,
.freeBox___6Kxj3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Kxj3 > :global(.__wab_flex-container) > picture > img,
.freeBox___6Kxj3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__tGvBj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-slB8D7VxQJJu);
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
}
.text___9RSbY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-slB8D7VxQJJu);
  min-width: 0;
}
.text__ohSzU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-slB8D7VxQJJu);
  align-self: center;
  min-width: 0;
}
.button__vSiHf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  flex-shrink: 0;
}
.svg___0XYa6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nUlP4 {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___960QY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__hx7Fa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__h14RR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
.img__h14RR > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__h14RR {
    height: 100%;
    margin-top: 0px;
    min-height: 0;
  }
}
.freeBox___4UNc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-6gvRY8bqZCfX);
  background: #222222db;
  min-width: 0;
  padding: var(--token-5imxU4b0cjty);
}
.freeBox__iPeWk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__obIBn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__obIBn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__obIBn > :global(.__wab_flex-container) > *,
.freeBox__obIBn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__obIBn > :global(.__wab_flex-container) > picture > img,
.freeBox__obIBn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__wtqjF {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  padding: 128px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__wtqjF {
    width: 100%;
    min-width: 0;
    padding: 33px 20px 45px;
  }
}
.freeBox___9PYzZ {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-6gvRY8bqZCfX);
  padding: var(--token-5imxU4b0cjty);
}
.freeBox___9PYzZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9PYzZ > :global(.__wab_flex-container) > *,
.freeBox___9PYzZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9PYzZ > :global(.__wab_flex-container) > picture > img,
.freeBox___9PYzZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___9PYzZ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___9PYzZ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___9PYzZ > :global(.__wab_flex-container) > *,
  .freeBox___9PYzZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9PYzZ > :global(.__wab_flex-container) > picture > img,
  .freeBox___9PYzZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.testimonial__ofCeB:global(.__wab_instance) {
  position: relative;
}
.img___7QgSz {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.img___7QgSz > picture > img {
  object-fit: cover;
}
.freeBox___7WyK0 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox___7WyK0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___7WyK0 > :global(.__wab_flex-container) > *,
.freeBox___7WyK0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7WyK0 > :global(.__wab_flex-container) > picture > img,
.freeBox___7WyK0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___7TU8C {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5__hgFVk {
  color: var(--token-fHJEDAlzOk9j);
}
.testimonial___8AsdT:global(.__wab_instance) {
  position: relative;
}
.img__fvEy5 {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.img__fvEy5 > picture > img {
  object-fit: cover;
}
.freeBox__nlg7J {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__nlg7J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nlg7J > :global(.__wab_flex-container) > *,
.freeBox__nlg7J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nlg7J > :global(.__wab_flex-container) > picture > img,
.freeBox__nlg7J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__jgPas {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5__gIaPk {
  color: var(--token-fHJEDAlzOk9j);
}
.testimonial__lvOSz:global(.__wab_instance) {
  position: relative;
}
.img__aq2ZV {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.img__aq2ZV > picture > img {
  object-fit: cover;
}
.freeBox__ocLpy {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__ocLpy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ocLpy > :global(.__wab_flex-container) > *,
.freeBox__ocLpy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocLpy > :global(.__wab_flex-container) > picture > img,
.freeBox__ocLpy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__k4Fj0 {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5__eNvH {
  color: var(--token-fHJEDAlzOk9j);
}
.companiesSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 128px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .companiesSection {
    padding: 80px 20px;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-6gvRY8bqZCfX);
  padding: var(--token-5imxU4b0cjty);
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2__jCWnM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 35px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  color: var(--token-4Ba6uvSh0aBI);
  min-width: 0;
}
.freeBox___9PVqR {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___9PVqR {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__zvHaJ {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: none;
  flex-direction: row;
}
.freeBox__zvHaJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zvHaJ > :global(.__wab_flex-container) > *,
.freeBox__zvHaJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zvHaJ > :global(.__wab_flex-container) > picture > img,
.freeBox__zvHaJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__jc8Ln {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__jc8Ln > picture > img {
  object-fit: cover;
}
.img__caRiv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__caRiv > picture > img {
  object-fit: cover;
}
.img__xdP20 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__xdP20 > picture > img {
  object-fit: cover;
}
.img__cgF7X {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cgF7X > picture > img {
  object-fit: cover;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
}
